<!DOCTYPE html>
<html lang="cn" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据包列表</title>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/default.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/owl.css}" type="text/css"/>

</head>
<body class="is-preload">
<style>
    .jump {
        width: 5%;
        height: 18px;
    }
</style>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a href="home">数据包管理</a>
                </div>
            </header>
            <div class="contentDiv">
                <h5><strong><font size="5">数据包信息管理系统</font><br/></strong></h5>
                <form action="/packet/findPacketByName" method="post">
                    <label for="packetName">查找数据包</label>
                    <input class="form-control" id="packetName" name="packetName" placeholder="请输入关键字(数据包/数据包类型)"
                           type="text"/>
                    <input class="button" id="btnPost" type="submit" value="查询"/>
                </form>
                <div id="2" style="margin:10px">
                    <div align="center">
                        <!--                        <a class="btn btn-primary" href="/packet" role="button" style="margin-right:10px;">新增数据包信息</a>-->
                        <form action="/packet/addPacket" enctype="multipart/form-data" method="post">
                            <p>
                                <label class="title">
                                    请选择数据包
                                    <input name="file" type="file" value="pcap"/>
                            <p><label class="title">选择数据包类型</label>
                                <select id="selectPacket" name="packet">
                                    <option value="local">local</option>
                                    <option selected value="server">server</option>
                                </select>
                            </p>
                            <input class="button" type="submit" value="新增数据包"/>
                            </label>
                            </p>
                        </form>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered"
                       style="table-layout: fixed; word-break:break-all; word-wrap:break-word;">
                    <legend>
                        <strong>数据包列表</strong>
                    </legend>
                    <thead>
                    <tr>
                        <th>数据包名字</th>
                        <th>数据包存储路径</th>
                        <th>数据包类型</th>
                        <th>数据包对应csv文件路径</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="packet :${data}">
                        <td style="width:300px;" th:text="${packet.packetName}"></td>
                        <td style="width:300px;" th:text="${packet.packetPath}"></td>
                        <td style="width:120px;" th:text="${packet.type}"></td>
                        <td style="width:120px;" th:text="${packet.csvPath}"></td>
                        <td><a class="btn btn-danger"
                               th:href="@{/packet/delete/{id}(id=${packet.id})}">删除</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a th:href="@{'/packet?pn='+${page.firstPage}}">首页</a>
            <c:if test="${page.hasPreviousPage}"><a th:href="@{'/packet?pn='+${page.prePage}}">上一页</a></c:if>

            <c:if test="${page.hasNextPage}"><a th:href="@{'/packet?pn='+${page.nextPage}}">下一页</a></c:if>

            <a th:href="@{'/packet?pn='+${page.lastPage}}">最后页</a>
            <p>
                <span>共</span>
                <span th:text="${page.pages}"></span>
                <span>页 --当前页是第</span>
                <span th:text="${page.pageNum}"></span>
                <span>页 -- 共有</span>
                <span th:text="${page.total}"></span>
                <span>条数据</span>
                <span>-- 跳转到:
                <input class="jump" id="jump" type="text"/>页
                <a href="" onclick="getpn(this)">点击跳转</a>
                </span>
            </p>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            <!-- Menu -->
            <nav id="menu">
                <ul>
                    <li><a href="/index">抓包/index</a></li>
                    <li><a href="/packet">数据包管理/home</a></li>
                    <li><a href="/feature">提取特征/feature</a></li>
                    <li><a href="/train">数据流量训练模型/train</a></li>
                    <li><a href="/model">模型信息管理/model</a></li>
                    <li><a href="/test">测试模型/test</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/transition.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/custom.js"></script>

</body>
<script th:inline="javascript">
    var result = [[${result}]];
    if (JSON.stringify(result) !== '{}') {
        if (result.code !== 1) {
            layer.msg(result.msg);
        }
    }
</script>
</html>