<!doctype html>
<html lang="cn">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Home</title>

    <!-- Template CSS -->
    <link href="assets/css/style-starter.css" rel="stylesheet">

    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a href="Index.html">Collective</a></h1>
        </div>

        <!-- if logo is image enable this -->
        <!-- image logo --
        <div class="logo">
          <a href="Index.html">
            <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
          </a>
        </div>
        <!-- //image logo -->

        <div class="logo-icon text-center">
            <a href="Index.html" title="logo"><img alt="logo-icon" src="assets/images/logo.png"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="Index.html"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
                </li>
                <li class="menu-list">
                    <a href="#"><i class="fa fa-cogs"></i>
                        <span>Elements <i class="lnr lnr-chevron-right"></i></span></a>
                    <ul class="sub-menu-list">
                        <li><a href="carousels.html">Carousels</a></li>
                        <li><a href="cards.html">Default cards</a></li>
                        <li><a href="people.html">People cards</a></li>
                    </ul>
                </li>
                <li><a href="pricing.html"><i class="fa fa-table"></i> <span>Pricing tables</span></a></li>
                <li><a href="blocks.html"><i class="fa fa-th"></i> <span>Content blocks</span></a></li>
                <li><a href="forms.html"><i class="fa fa-file-text"></i> <span>Forms</span></a></li>
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->

    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="Index.html">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
            <div class="welcome-msg pt-3 pb-4">
                <h1>Hi <span class="text-primary">John</span>, Welcome back</h1>
            </div>

            <!-- statistics data -->
            <div class="statistics">
                <div class="row">
                    <div class="col-xl-6 pr-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-users"> </i>
                                    <h3 class="text-primary number">29.75 M</h3>
                                    <p class="stat-text">Total Users</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-eye"> </i>
                                    <h3 class="text-secondary number">51.25 K</h3>
                                    <p class="stat-text">Daily Visitors</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 pl-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-cloud-download"> </i>
                                    <h3 class="text-success number">166.89 M</h3>
                                    <p class="stat-text">Downloads</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-cart"> </i>
                                    <h3 class="text-danger number">1,250k</h3>
                                    <p class="stat-text">Purchased</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //statistics data -->

            <!-- charts -->
            <div class="chart">
                <div class="row">
                    <div class="col-lg-6 pr-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Relay users
                            </div>
                            <div class="card-body">
                                <!-- bar chart -->
                                <div id="container">
                                    <canvas id="barchart"></canvas>
                                </div>
                                <!-- //bar chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated 2 hours ago
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Bridge users
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <div class="chart-container" id="5068d60b82ce480597763e566b62f510"
                                         style="width:350px; height:240px;"></div>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Relays and bridge
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <canvas id="linechart"></canvas>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Relays by relay flag
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <canvas id="linechart"></canvas>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Total relays bandwidth
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <canvas id="linechart"></canvas>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Advertised and consumed bandwidth by relay flag
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <canvas id="linechart"></canvas>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                Unique .onion address
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <canvas id="linechart"></canvas>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-2 chart-grid">
                        <div class="card text-center card_border">
                            <div class="card-header chart-grid__header">
                                onion-service traffic
                            </div>
                            <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                    <canvas id="linechart"></canvas>
                                </div>
                                <!-- //line chart -->
                            </div>
                            <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //charts -->


        </div>
        <!-- //content -->
    </div>
    <!-- main content end-->
</section>

<!-- move top -->
<button class="bg-primary" id="movetop" onclick="topFunction()" title="Go to top">
    <span class="fa fa-angle-up"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->


<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="assets/js/Chart.min.js"></script>
<script src="assets/js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="assets/js/bar.js"></script>
<script src="assets/js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/scripts.js"></script>

<!-- close script -->
<script>
    var closebtns = document.getElementsByClassName("close-grid");
    var i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
    $(function () {
        $('.sidebar-menu-collapsed').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll when navbar is in active -->

<!-- loading-gif Js -->
<script src="assets/js/modernizr.js"></script>
<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
        ;
    });
</script>
<!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="https://assets.pyecharts.org/assets/echarts.min.js" type="text/javascript"></script>
<script src="https://assets.pyecharts.org/assets/themes/vintage.js" type="text/javascript"></script>

<script>
    var chart_5068d60b82ce480597763e566b62f510 = echarts.init(
        document.getElementById('5068d60b82ce480597763e566b62f510'), 'vintage', {renderer: 'canvas'});
    var option_5068d60b82ce480597763e566b62f510 = {
        "animation": true,
        "animationThreshold": 2000,
        "animationDuration": 1000,
        "animationEasing": "cubicOut",
        "animationDelay": 0,
        "animationDurationUpdate": 300,
        "animationEasingUpdate": "cubicOut",
        "animationDelayUpdate": 0,
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\u521b\u7c73",
                        "value": "22.22"
                    },
                    {
                        "name": "\u6d77\u5eb7\u5a01\u89c6",
                        "value": "22.22"
                    },
                    {
                        "name": "\u666e\u8054",
                        "value": "33.33"
                    },
                    {
                        "name": "\u5c0f\u7c73",
                        "value": "11.11"
                    },
                    {
                        "name": "\u534e\u4e09\u901a\u4fe1",
                        "value": "11.11"
                    }
                ],
                "radius": [
                    "0%",
                    "75%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8,
                    "formatter": "{b}: {c}%"
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "legend": [
            {
                "data": [
                    "\u521b\u7c73",
                    "\u6d77\u5eb7\u5a01\u89c6",
                    "\u666e\u8054",
                    "\u5c0f\u7c73",
                    "\u534e\u4e09\u901a\u4fe1"
                ],
                "selected": {}
            }
        ],
        "tooltip": {
            "show": true,
            "trigger": "item",
            "triggerOn": "mousemove|click",
            "axisPointer": {
                "type": "line"
            },
            "textStyle": {
                "fontSize": 14
            },
            "borderWidth": 0
        }
    };
    chart_5068d60b82ce480597763e566b62f510.setOption(option_5068d60b82ce480597763e566b62f510);
</script>

</body>

</html>
  